.form {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    height: 550px;
    padding: 50px;
    background-color: white;
    border-radius: 30px;

    &__input-sum {
        width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        &-currency-select {
            height: 40px;
        }
    }

    &__datepicker {
        width: 100%;
    }

    &__button {
        background-color: white;
    }
}