.navbar {
    height: inherit;
    width: 75px;
    background-color: rgb(34, 34, 34);
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 15px;
        box-sizing: border-box;
        list-style: none;
    }
    &__item {
        svg {
            width: 30px;
            height: 30px;
            color: white;
        }
    }
}