
body, html {
  background-color: rgb(20, 20, 20);
  overflow: hidden;
}
span, h1, h2, p, label, input, select {
  color: white;
}
.wrapper {
  display: flex;
  gap: 40px;
  height: 100vh;
}

.main {
  &__wrapper {
    margin-top: 40px;
  }
}
.section {
  width: 95%;
  margin: 0 auto;
}
.error {
  position: absolute;
  color: red;
}
